<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\assets\js\Meting.min.js"></script>.card{
    border-radius: 16px;
}
.card div img {
    border-radius: 16px;
}

.hide_text{
    background-color: #212529
}

.hide_text::selection {
    color: white;
    background-color: blue;
}