<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\assets\js\Meting.min.js"></script>@import "../base/ui.css";
@import "../base/text.css";

.carousel-caption>h1{
    text-shadow: inherit;
}

.carousel-caption>p{
    text-shadow: inherit;
}

.zoom-effect {
    transition: transform 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* 向下图标动画 */

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.floating-image {
    animation: floating 2s ease-in-out infinite;
}

.floating-image:hover{
    cursor: pointer;
}
